*{
	margin: 0;
}

.navbar.navbar-fixed-top {
	/*border: 2px solid black;*/
	background-color: white;
	text-align: center;

}
	.navbar.center .navbar-inner {
	    text-align: center;
	}
	.navbar.center .navbar-inner .nav {
	    float: none;
	    display: inline-block;
	}

	.navlist {
		font-size: 1.3em;
	}



#top {
	text-align: center;
	margin-top: 10%;
	/*border: 2px solid black;*/
	height: 40%;
}

	#name {
		font-size: 6em;
	}

	#jobtitle {
		font-size: 3em;
	}

#hello {
	/*border: 2px solid black;*/
	height: 50%;
}

	.intro1 {
		margin-top: 5%;
		text-align: center;
		font-size: 1.8em;
	}

	.intro2 {
		margin-top: 3%;
		margin-left: 20%;
		margin-right: 2%;
		font-size: 1.3em;
		width: 60%;
	}

#projects {
	border: 2px solid black;
	/*height: 50%;	*/
}

	#projects h2 {
		margin-bottom: 5%;
		text-align: center;
	}

	.project {
		border: 2px solid black;
		height: 25%;
		width: 20%;
		margin-left: 3.3%;
		margin-bottom: 5%;
		display: inline-block;
	}
#tech {
	border: 2px solid black;
	/*height: 10%;*/
}
	.techGroup {
		border: 2px solid black;
		height: 30%;
		width: 40%;
		margin-left: 6%;
		margin-top: 5%;
		margin-bottom: 5%;
		display: inline-block;
	}

#contact {
	height: 10%;
	border: 2px solid black;
}
